body {
    font-family: 'Lato', Verdana;
    font-size: 100%;
    background: rgb(0, 0, 0);
}
 
.wrap {
 margin: 0 auto; /* отступы относительно окна браузера */
width: 70%; 
}

.header {
  padding: 1.3em 0em; /* поля вокруг текста */
}

.logo{
  
  float: left; /* обтекание логотипа */
}

.logo a {
  display: block; /* переопределение в блочный  */
}

.nav {
    float: right;   /* обтекание логотипа */
    margin-top: 0.82em;
}

.nav > ul > li {
    display:inline-block;  /* переопределение в строчно-блочный  */
}

.nav > ul > li > a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: rgb(96, 16, 150);
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}
  .nav > ul > li > a:hover {
    color: rgb(0, 0, 0);
    background: #6f5c85;
}

.footer {
	position: absolute;
    left: 0%;
	bottom: 0%;
	width: 100%;
	height: 50px;
    background-color: rgb(114, 88, 88);
}

.footer > ul > li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 0em;
    margin-top: 0em;
    padding: 0em;
    color: rgb(255, 253, 253);
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
